name: Build Cloudstream Providers

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        # O comando 'publishToMavenLocal' e o 'build' garantem que tudo seja compilado
        run: ./gradlew assemble --refresh-dependencies --info

      - name: Generate Repo JSON
        # Este comando gera o repo.json com base nos seus modulos compilados
        run: ./gradlew generateRepoJson

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: CloudstreamProviders
          path: |
            repo.json
            **/build/outputs/cs3/*.cs3
            **/build/libs/*.jar
